<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPU</key>
	<dict>
		<key>Menu</key>
		<dict>
			<key>Order</key>
			<array>
				<dict>
					<key>key</key>
					<string>cpu-cpu</string>
				</dict>
				<dict>
					<key>key</key>
					<string>cpu-cores</string>
				</dict>
				<dict>
					<key>key</key>
					<string>cpu-gpu</string>
				</dict>
				<dict>
					<key>key</key>
					<string>cpu-load</string>
				</dict>
				<dict>
					<key>key</key>
					<string>cpu-uptime</string>
				</dict>
				<dict>
					<key>key</key>
					<string>cpu-processes</string>
				</dict>
				<dict>
					<key>key</key>
					<string>cpu-launcher</string>
				</dict>
			</array>
			<key>Processes</key>
			<dict/>
		</dict>
	</dict>
	<key>Combined</key>
	<dict>
		<key>Menubar</key>
		<dict>
			<key>Items</key>
			<array/>
		</dict>
	</dict>
	<key>Device</key>
	<dict>
		<key>Auth-Identifier</key>
		<string>AD6F04C9-8D45-46D5-9A2E-21F5FAEB8372</string>
		<key>Device</key>
		<string>77575bfef4d11a4454587f14adb4a24578ee4e90</string>
		<key>Model</key>
		<string>Mac17,7</string>
	</dict>
	<key>License</key>
	<dict>
		<key>License</key>
		<string>tall-echo-zapp-ammo-4698-7</string>
		<key>Validation</key>
		<dict>
			<key>hashversion</key>
			<string>3</string>
			<key>license</key>
			<string>tall-echo-zapp-ammo-4698-7</string>
			<key>signature</key>
			<string>MIGIAkIAnTo28SLGIddM82rGXz+xtNvdaebmVbOyi8ggR5r8AkuqvWmYBEvbOLMfL+wmTUsOs2Xx12gUdwE/GrqhvFBaoaICQgEdZQN2nGM6UUVAmD7T94xYuTGUBwqb4peWbnnKByWa9Y5fOkyAy69dcfK3jlcyzVKba++9fUE9+AH1FSc6x7VAng==</string>
			<key>time</key>
			<string>1778764955</string>
		</dict>
	</dict>
	<key>Menu</key>
	<dict>
		<key>Theme</key>
		<dict>
			<key>Light</key>
			<string>system</string>
		</dict>
	</dict>
	<key>Menubar</key>
	<dict>
		<key>Style</key>
		<integer>1</integer>
		<key>Theme</key>
		<dict/>
	</dict>
	<key>MenubarCurrentApperance</key>
	<string>Light</string>
	<key>Migration</key>
	<dict>
		<key>CombinedPowerItems</key>
		<true/>
		<key>Profiles</key>
		<true/>
	</dict>
	<key>Profiles</key>
	<dict>
		<key>Available</key>
		<dict>
			<key>identifier</key>
			<string>default</string>
		</dict>
		<key>Settings</key>
		<dict>
			<key>default</key>
			<dict>
				<key>Battery</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>CPU</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>1</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
							<dict>
								<key>source</key>
								<integer>2</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Combined</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Items</key>
						<array/>
					</dict>
				</dict>
				<key>Disks</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Memory</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>1</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>3</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Network</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Sensors</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>source</key>
								<integer>7</integer>
								<key>type</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>source</key>
								<integer>7</integer>
								<key>subtype</key>
								<integer>8</integer>
								<key>type</key>
								<integer>7</integer>
							</dict>
						</array>
					</dict>
				</dict>
				<key>Time</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>Weather</key>
				<dict>
					<key>Menubar</key>
					<dict>
						<key>Enabled</key>
						<integer>1</integer>
						<key>Items</key>
						<array>
							<dict>
								<key>options</key>
								<dict>
									<key>b&amp;w</key>
									<true/>
								</dict>
								<key>source</key>
								<integer>11</integer>
								<key>type</key>
								<integer>8</integer>
							</dict>
							<dict>
								<key>source</key>
								<integer>11</integer>
								<key>subtype</key>
								<integer>6</integer>
								<key>type</key>
								<integer>7</integer>
								<key>useroptions</key>
								<dict>
									<key>value</key>
									<string>temperature</string>
								</dict>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Sensors</key>
	<dict>
		<key>Global</key>
		<dict>
			<key>Degrees</key>
			<dict>
				<key>Format</key>
				<integer>1</integer>
			</dict>
			<key>DetailLevel</key>
			<integer>1</integer>
			<key>Fans</key>
			<dict>
				<key>Curves</key>
				<dict>
					<key>all</key>
					<dict>
						<key>curve</key>
						<array>
							<dict>
								<key>speed</key>
								<integer>0</integer>
								<key>temperature</key>
								<integer>0</integer>
							</dict>
							<dict>
								<key>speed</key>
								<integer>0</integer>
								<key>temperature</key>
								<real>0.45000000000000001</real>
							</dict>
							<dict>
								<key>speed</key>
								<real>1</real>
								<key>temperature</key>
								<real>0.94999999999999996</real>
							</dict>
							<dict>
								<key>speed</key>
								<real>1</real>
								<key>temperature</key>
								<real>1</real>
							</dict>
						</array>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Status</key>
	<dict>
		<key>BackgroundInstall</key>
		<true/>
		<key>Build</key>
		<dict>
			<key>Last</key>
			<real>2282</real>
		</dict>
		<key>Version</key>
		<dict>
			<key>Last</key>
			<real>7.3000001907348633</real>
		</dict>
	</dict>
	<key>Updates</key>
	<dict>
		<key>Attempts</key>
		<dict>
			<key>2282</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
